@font-face {
    font-family: AvenirNext-Regular; 
    letter-spacing: normal;
    font-stretch: normal;
    src: url("../../../assets/fonts/AvenirNext-Regular.woff") format('woff');
}

.b-page {
	margin:0;
	padding:0;
	text-align:center;
	line-height:1.3;
	font-family: AvenirNext-Regular, arial;
	color:#363636;
}

.b-page__section {
	padding: 3rem 0;
}

.b-page__section--header {
	background: #4DB6AC;
}

.b-page__section--footer {
	padding: 5rem 0;
	background-color: #E0F2F1;
	text-align: center;
}

.u-page-subtitle,
.u-page-title {
	color:#fff;
	font-size:2.4rem;
	text-align: center;
}

.u-page-logo { 
	margin:1rem 1.5rem;
	text-align: center;
}

.u-section-content--title{
	font-size:1.8rem;
	font-weight:700;
}

.u-section-content{
	font-size:1.8rem;
	text-align:justify;
}
.u-section-contact{
	font-size:2rem;
	color:#000;
	text-decoration:none;
}

@media (min-width:750px){
	.u-section-content{
		font-size:1.8rem;
	}
}
@media (min-width:1200px){
	.u-section-content{
		font-size: 20px;
	}
}

@media (min-width:1500px){
	.u-section-content{
		font-size: 20px;
	}
}

.social-widgets, .social-header {
	margin-top:30px;
}

.social {
	height: 250px;
}
